* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  overflow-x: hidden;
}
/* animations */
@keyframes sub-topic-slide {
  0% {transform: translate3d(0, 0, 0);}
  50% {transform: translate3d(-450%, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}
@keyframes topic-open {
  0% {transform: translate3d(-350%, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}
@keyframes side-bar-open {
  from{flex: 0 1 70px;}
  to{flex: 3;}
}
/* overall container */
.page-container {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  overflow: hidden;
}
/* whole sidebar */
.side-bar {
  background-color: #eee;
  color: #fff;
  flex: 0 1 70px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  transition: all .5s;
  transition-timing-function: ease-out;
}
.side-bar.isOpen {
  flex: 3;
  animation-name: side-bar-open;
  animation-duration: .5s;
  animation-timing-function: ease-in;
}
.button {
  cursor: pointer;
  margin: .25em;
}
/* div containing topics button */
.options-bar {
  flex: 0 0 70px;
  display: flex;
  z-index: 4;
  background-color: #8261d4;
}
/* topics ul */
.topic-list {
  flex: 1;
  transform: translate3d(-300%, 0, 0);
  background-color: #9150c3;
  transition: all .3s;
  transition-timing-function: ease-in;
  transition-delay: .1s;
  z-index: 3;
}
.topic-list > li {
  margin: .25em;
}
.topic-list.isOpen {
  flex: 0 0 38.5%;
  transform: translate3d(0, 0, 0);
  animation-name: topic-open;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}
/* sub topics ul*/
.sub-topic-list {
  flex: 1;
  background-color: #a261d5;
  transform: translate3d(-450%, 0, 0);
  transition: all .3s;
  transition-timing-function: ease-in;
  z-index: 2;
}
.sub-topic-list.slide {
  animation-name: sub-topic-slide;
  animation-duration: .5s;
  transform: translate3d(0, 0, 0);
}
.sub-topic-list > li {
  margin: .25em;
}
.sub-topic-list.isOpen {
  flex: 1 33%;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  transition-timing-function: ease-out;
}
/* main page content */
.page-content {
  flex: 17;
  padding: 30px;
  background: #eee;
}
